
# .gitignore

# misc
**/.DS_Store
**/*.swp
**/*.swo
**/.tags
**/*~

# custom notation for git ignored files
**/,*

# devcontainer session bash history
.devcontainer/.bash_history

# distribution / packaging
build/
{{ project_slug }}
*.db

